{% extends 'base.html.twig' %}
{% block body %}
<div class="container mt-5">
    <h2>Nouveau mot de passe</h2>
    <form method="post">
        <div class="mb-3">
            <label for="password">Nouveau mot de passe</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-success">Réinitialiser</button>
    </form>
</div>
{% endblock %}