{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
<div class="dashboard-wrapper py-4">
	<h1 class="mb-4">Tableau de bord</h1>

	<div class="d-flex flex-column gap-4">
		{% if dashboards.couple %}
			{% include 'home/_dashboard_couple.html.twig' with { data: dashboards.couple } %}
		{% endif %}

		{% if dashboards.musician %}
			{% include 'home/_dashboard_musician.html.twig' with { data: dashboards.musician } %}
		{% endif %}

		{% if dashboards.parish %}
			{% include 'home/_dashboard_parish.html.twig' with { data: dashboards.parish } %}
		{% endif %}

		{% if dashboards.admin %}
			{% include 'home/_dashboard_admin.html.twig' with { data: dashboards.admin } %}
		{% endif %}
	</div>
</div>
{% endblock %}
